@import url('https://fonts.googleapis.com/css?family=Khand:500|Lato&display=swap');
@import '_reset.scss';

$white: #fafafa;
$jg-red: #a20000;

body {
  background-color: $white;
  font-family: Lato, sans-serif;
}

.wrapper {
  max-width: 75%;
  margin: 0 auto;
}

@import '_showtime.scss';
@import '_navbar.scss';
@import '_sidebar.scss';

h1 {
  color: $jg-red;
  margin-bottom: 40px;
  margin-top: 4rem;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2c3e50;

  &:hover, &:focus {
    color: $jg-red;
  }
}
.logo {
  height: 2.2rem;
  min-width: 2.2rem;
  margin-right: .8rem;
  vertical-align: top;
}
.site-name {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: inherit;
  position: relative;
}

.site-footer {
  padding: 2rem 0;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
