<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <div class="wrapper">
    <header class="navbar">
        <a href="https://frontend-rheinmain.de/" class="home-link">
          <img src="/images/logo.png" alt="Frontend RheinMain" class="logo">
          <span class="site-name">Frontend RheinMain</span>
        </a>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="site-footer">
      <a href="https://frontend-rheinmain.de/ferm/imprint.html">Imprint &amp; Privacy</a>
    </footer>
  </div>

</body>
</html>
