---
layout: layouts/base.njk
title: Learn and burn - der Hackathon in Rhein-Main
---

<h1>{{ title }}</h1>
<h2>Unsere Vision</h2>

<p>Bei "{{siteData.eventName}}" geht es vor allem um euch. Wir möchten euch eine Plattform bieten, um eure Skills auszuschöpfen und von anderen zu lernen. Deshalb veranstalten wir keine klassische Konferenz, wo man nur Vorträge konsumiert und dann wieder geht, und keine Workshops, wo einer vorne steht und die anderen nachmachen. Stattdessen wollen wir mit euch hacken. Ob Dev, Designer*in, PM oder etwas anderes – wir arbeiten in gemischten Teams 2 Tage lang an euren Ideen und lernen nebenbei andere Hacker*innen kennen. Anders als bei „klassischen“ Hackathons geht es uns aber auch nicht um die innovativste Geschäftsidee und wir vergeben keine Geldpreise. [Name des Events] ist kein Werkzeug, um das nächste erfolgreiche Startup auszugründen. Wir wollen einfach ein Event von der Community für die Community: mit euch Spaß haben und uns gegenseitig beflügeln.</p>

<h2>Wie das funktioniert</h2>
<p>In jedem Team wollen wir versuchen, eine Mischung aus allen Disziplinen mit verschiedenen Knowhow-Leveln zusammen zu stellen. So können Teilnehmer*innen ihre Wissensstände erweitern und von- und miteinander lernen. Mithilfe von Matching eurer Fähigkeiten und Lernziele (?) sowie Methoden wie Liberating Structures (?) (oder eben irgend ein anderes Prinzip) helfen wir euch gerne, eure Gruppe interdisziplinär aufzustellen. Natürlich könnt ihr aber auch Freunde mitbringen, mit denen ihr schon immer mal zusammenarbeiten wolltet.</p>

<h2>Eine grobe terminliche Struktur</h2>
<p>Der wichtigste Teil der Veranstaltung sind die Freiräume, in denen geplant und programmiert werden wird. Diese müssen vorbereitet werden. Und Keynote-Speaker sollen uns für die beiden Tage entscheidend motivieren und Anregungen geben. Unsere grobe terminliche Struktur sieht folgendermassen aus:</p>

<div class="showtime">
  <div class="card">
    <div class="card__header">
      <h3 class="card__headline">Samstag</h3>
    </div>
    <div class="card__body">
      <table>
        <thead>
          <tr>
            <th>Uhrzeit</th>
            <th>Thema</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09:00 Uhr</td>
            <td>Registrierung wird eröffnet</td>
          </tr>
          <tr>
            <td>10:00 Uhr</td>
            <td>Begrüßung und Einführung in die Veranstaltung</td>
          </tr>
          <tr>
            <td>10:15 Uhr</td>
            <td>Keynote XY</td>
          </tr>
          <tr>
            <td>11:00 Uhr</td>
            <td>Vorstellung der Ideen und Planung der Gruppen</td>
          </tr>
          <tr>
            <td>11:30 Uhr</td>
            <td>Formierung der Gruppen</td>
          </tr>
          <tr>
            <td>18:30 Uhr</td>
            <td>Ende des ersten Tages</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="2">Eine offizielle Mittagspause gibt es nicht. Jeder sucht sich in der Nähe die passenden Nahrungsquellen oder lässt sich liefern.</td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {# card #}

<div class="card">
  <div class="card__header">
    <h3 class="card__headline">Sonntag</h3>
  </div>
  <div class="card__body">

    <table>
      <thead>
        <tr>
          <th>Uhrzeit</th>
          <th>Thema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00 Uhr</td>
          <td>Öffnung der Räume</td>
        </tr>
        <tr>
          <td>10:00 Uhr</td>
          <td>Keynote XY</td>
        </tr>
        <tr>
          <td>10:45 Uhr</td>
          <td>Fortfahren mit der Gruppenarbeit</td>
        </tr>
        <tr>
          <td>15:00 Uhr</td>
          <td>Zusammentreffen aller Gruppen, jede Gruppe stellt den eigenen Arbeitsstand vor und spricht über das Gelernte.</td>
        </tr>
        <tr>
          <td>17:30 Uhr</td>
          <td>Ende der Veranstaltung</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        <td colspan="2">Eine offizielle Mittagspause gibt es nicht. Jeder sucht sich in der Nähe die passenden Nahrungsquellen oder lässt sich liefern.</td>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
{# card #}
</div>




